:root{
    --black-color: #70d1bc;
    --white-color: #eee;
    --dark-color: #383a35;
    --light-color: #383a35;
    --secondary-color: #ffffff;
}

@font-face { 
    font-family: 'hiragino';
    src: url('hiraginoW0.ttc') format('truetype');
}

body {
  background-color: var(--secondary-color);
}

div {
  width: auto;
  padding: 20px;
  margin: 10px;
  margin-top: 35px;
  #border-width: thick;
  #border-style: groove;
  border-radius: 20px 20px 20px 20px;
  font-size: 13pt;
}

#botDiv {
  background-color: var(--white-color);
  #border-color: var(--dark-color);
}

#userDiv {
  background-color: var(--black-color);
  #border-color: var(--light-color);
}

#botDiv p {
  color: var(--dark-color);
  font-family: 'hiragino';
  font-size: 13pt;
  text-align: left;
}

#historyDiv p {
  color: var(--dark-color);
  font-family: 'hiragino';
}

form {
   margin: 2px 10px;
   color: var(--light-color);
   font-family: 'hiragino';
   font-size: 13pt;
 }

input {
   width: 100%;
   padding: 12px 20px;
   margin: 12px 0px;
   box-sizing: border-box;
   #border-color: var(--black-color);
   font-family: wider;
   font-size: 13pt;
}

.buttonWrapper {
  text-align: center;
  width: auto;
  margin: 2px 10px;
  #border-width: 0;
}

#badAnswerButton {
  padding: 12px 20px;
  margin:auto;
  display:block;
  #border-width: thick;
  #border-style: groove;
  border-radius: 20px 20px 20px 20px;
  #border-color: var(--black-color);
  background-color: red;
  color: white;
  font-family: 'hiragino';
  font-size: 8pt;
}

#badAnswerButton:hover {
  background-color: brown;
}
